body {
    font-family: 'Segoe UI', 'HelveticaNeue', 'Noto Sans', Geneva, Verdana, sans-serif;
    text-shadow: 0 0 3px white;
}

body:after {
    content: '';
    
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;

    background-image: url(bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-position: bottom right;

    opacity: .5;
}

nav {
    text-align: right;
    display: none;
}

a {
    color: black;
    text-decoration: none;
    border-bottom: 1px dashed rgba(0, 0, 0, .2);
    text-transform: lowercase;
}

nav a:before {
    content: '>>';
    font-size: .6em;
    margin-right: 5px;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: space-evenly;
}

section {
    padding: 0 5px;
}

header {
    font-size: 1.5em;
    font-weight: bold;
    margin: 1em 0;
}

h2 {
    position: relative;
    font-size: initial;
    font-weight: normal;
    margin: 2px 0;
}

h2:before {
    content: '\25CF';
    position: absolute;
    right: 100%;
    margin-right: 5px;
}

h2 ~ ul {
    list-style-type: none;
    margin: 0;
    font-size: .8em;
    padding: 0;
    margin-bottom: 5px;
}

h2, h2 ~ ul {
    margin-left: 40px;
}

small:before {
    content: '\2014\00a0';
}

.half-opacity {
    opacity: .5;
}

hr {
    display: none;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin: 3em 0;
}

@media (max-width: 767px) {

    nav {
        display: block;
    }

    main {
        display: block !important;
    }

    section:first-child {
        margin-bottom: 5em;
    }

    hr {
        display: block;
    }

}

@media (prefers-color-scheme: dark) {
    body {
        background: #222;
        color: #eee;
        text-shadow: 0 0 3px #444;
    }

    body:after {
        filter: grayscale(100%) invert(87%);
    }

    a {
        color: white;
        border-bottom-color: rgba(255, 255, 255, .5);
    }

    hr {
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    }
}
